/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 4rem;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    .container {
        padding: 20px;
        margin: 0px;
    }
}

/* Additional Styling */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
}

button[type="submit"] {
    background-color: #4CAF50;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

